<h2>Imagga test form</h2>
<%= form_tag"/uploads", method: "get" do %>
<%= label_tag(:image_url, "Image Url:") %>
<%= text_field_tag(:image_url) %>
<%= submit_tag("Submit") %>
<% end %>



<!-- <h2>Youtube test form</h2>
<%= form_tag"/uploads",method: "get" do %>
<%= label_tag(:q, "Search Youtube:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Submit") %>
<% end %> -->

<% if @link %>
<img src="<%=params[:image_url] %>" alt="" style="width: 300px">
<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@link%>" frameborder="0" allowfullscreen></iframe>
<iframe src="<%=@giphyEmbed%>" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<% end %>
