<div class="row">
  <div class="col-md-12">
    <h2>Imagga test form</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 form-group">
    <%= form_tag"/uploads", method: "get" do %>
    <%= label_tag(:image_url, "Image Url:") %>
    <%= text_field_tag :image_url, "", class:'form-control' %>
    <%= submit_tag "Submit", class:"btn btn-default" %>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
<% if @link %>

<div class="row" id="showImage">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <img src="<%=params[:image_url] %>" alt="" style="width: 300px">
        <%= form_for [@album, @picture], html: {multipart: true} do |form|%>
          <%= form.text_field :image, value: params[:image_url] %>
          <%= form.hidden_field :picture_remote_url, :value => params[:image_url] %>
          <%= form.submit "Add to Album"%>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@link%>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row" style="height:557px">
      <div class="col-md-12 longCol">
        <iframe src="<%=@giphyEmbed%>" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- <h2>Youtube test form</h2>
<%= form_tag"/uploads",method: "get" do %>
<%= label_tag(:q, "Search Youtube:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Submit") %>
<% end %> -->
