<h2>Imagga test form</h2>
<%= form_tag"/uploads", method: "get" do %>
<%= label_tag(:image_url, "Image Url:") %>
<%= text_field_tag(:image_url) %>
<%= submit_tag("Submit") %>
<% end %>

<br />


<h2>Youtube test form</h2>
<%= form_tag"/uploads",method: "get" do %>
<%= label_tag(:q, "Search Youtube:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Submit") %>
<% end %>
