<!DOCTYPE html>
<html>
  <head>
    <title>With An Image</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=1000">
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <!-- <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <%= javascript_include_tag 'album' %>
    <%= javascript_include_tag 'pictures' %>
  </head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix" id="header">
            <div class="inner">
              <h3 class="masthead-brand logo"><%=link_to image_tag('logo.jpg', size: '300x100'), root_path %>
</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="<%= active_class(root_path)%>">
                    <%=link_to "Home", root_path%>
                  </li>
                  <li class="<%= active_class(uploads_path)%>">
                    <%=link_to "Uploads", uploads_path%>
                  </li>
                  <%if user_signed_in?%>
                  <li class="<%= active_class(album_index_path)%>"><%=link_to "Album", album_index_path %></li>
                  <li class="<%= active_class(edit_user_registration_path)%>"><%=link_to "Account", edit_user_registration_path %></li>
                  <li class="<%= active_class(destroy_user_session_path)%>"><%=link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                  <%else%>
                  <li class="<%= active_class(new_user_registration_path)%>"><%=link_to "Sign Up", new_user_registration_path%></li>
                  <li class="<%= active_class(new_user_session_path)%>"><%=link_to "Sign In", new_user_session_path%></li>
                  <%end%>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

  </body>
</html>
